
body{
	width: auto;
	min-width: 1000px;
	background-image: url(../images/escrimeur.jpg);
	background-attachment:fixed;

}

#mainDiv
{
	width: 1000px;
	margin: auto;
	margin-left: 50px;
}
p{
	color:white;
	background-color: rgba(0,0,0,0.8);
	width:800px;
}
div{
	color:white;
}