table{
	border:1px solid white;
}
body{
background-image: url(Images/Hockey.jpg);
}
a:hover{
	color:white;
}
a:active{
	color:red;
}
.img1{
	margin-top:-15px;
	margin-right:-10px;
	height:225px;
	width:220px;
	float:right;
}